<%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :body, class: "form-control", placeholder: Comment.model_name.human, rows: 2, required: true %>
  </div>
  <%= form.submit class: "btn btn-primary" %>
<% end %>